#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width: 100%;
	color:#CCC;
	background:#7c0674;
	padding:8px;
}

body {
	background-image: url("./machine.jpg");
	opacity: 0.84;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: auto;
	background-attachment: fixed;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer p {
	margin:0px;
	padding:0px;
	text-align: center;
}

nav {
	text-align: center;
	color:#CCC;
	padding:8px;
}

.text-white {
	text-align: center;
}

#home {
	text-align: center;
	background-color: aliceblue;
	width: 50%; 
}