@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<div class="card" style="width: 18rem;">
  <h2>Are you sure you want to delete this machine?</h2>

  @Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to List", "Index")
</div>
```