@{
Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add Machine</h2>

@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.EngineerId)

@Html.Label("Machine")
@Html.DropDownList("MachineId")

<input type="submit", value="Add"/>
}

<p>@Html.ActionLink("Back to List", "Index")
